# Logs
todo/logs
todo/*.log
todo/npm-debug.log*
todo/yarn-debug.log*
todo/yarn-error.log*
todo/pnpm-debug.log*
todo/lerna-debug.log*

todo/node_modules
todo/dist
todo/dist-ssr
todo/*.local

# Editor directories and files
todo/.vscode/*
todo/!.vscode/extensions.json
todo/.idea
todo/.DS_Store
todo/*.suo
todo/*.ntvs*
todo/*.njsproj
todo/*.sln
todo/*.sw?
